* {
    margin:0;
    padding:0;
}

.sidebar > ul > li > img {
    width:25px;
    height:auto;
}

ul, li {
    display:flex;
    gap:5px;
}

ul {
    flex-direction:column;
}

.sidebar {
    display:grid;
    grid-template:50px repeat(2, 1fr) / 1fr;
    gap:40px;
}

li {
    list-style-type:none;
    align-items:center;
}