* {
    margin:0;
    padding:0;
}

.sidebar > ul > li > img, .header-top > img, .welcome-message > img {
    height:auto;
}

.sidebar > ul > li > img {
    width:25px;
}

.trending-user > img {
    height:45px;
}

#welcome-img {
    width:60px;
}

.header-top > img, .welcome-message > img, .trending-user > img {
    width:45px;
    border:1px solid black;
    border-radius:50%;
}

.body-right {
    grid-template:1fr 5fr / 1fr;
    padding-left:25vw;
}

ul, li, .welcome-message, .button-container, .trending-user {
    display:flex;
    gap:5px;
}

body {
    grid-template-columns:1fr;
    background-color:gainsboro;
}

.button-container {
    align-items:center;
    justify-content: space-evenly;
    padding-right:5vw;
}

ul {
    flex-direction:column;
}

.sidebar {
    grid-template:50px 1fr 4fr / 1fr;
    gap:40px;
    padding:3vh 3vw;
    background-color:#f87171;
    position:fixed;
    width:19vw;
}

body, .sidebar, .body-right, .header-top, .header, .header-bottom, .content, .trending, .announcements, .projects {
    display:grid;
}

li {
    list-style-type:none;
}

li, .header-top, .welcome-message {
    align-items:center;
}

.header-top {
    grid-template-columns: 50px 7fr repeat(2, 50px) 3fr;
    gap:15px;
}

.content {
    grid-template:repeat(2, 1fr) / 5fr 2fr;
    gap:10px 15px;
    padding:20px;
}

.header {
    grid-template:repeat(2, 1fr) / 1fr;
    gap:20px;
    padding:20px;
}

.header, .trending-user, .announcements > div, .project-card {
    background-color:#fbbf24;
}

.header-bottom {
    grid-template-columns:2fr 1fr;
}

input[type="search"] {
    appearance:none;
    border-radius:6px;
    padding:5px;
}

.projects {
    grid-row:1/2;
    grid-template-columns:repeat(2, minmax(250px, 1fr));
    gap:10px;
    grid-template-rows:1.15rem;
}

.projects > h2 {
    grid-column:1/3;
}

.trending > div, .announcements > div, .project-card {
    padding:10px 40px;
}

.announcements > div {
    border-bottom:1px solid black;
}

.announcements > div:nth-last-child(1) {
    border:none;
}

.trending > h2, .projects > h2 {
    max-height:0;
    padding:0;
    margin:0;
}

.project-card {
    max-height:250px;
}

.trending {
    grid-auto-rows:70px;
    grid-column:2/3;
    grid-template-rows:1.7rem;
}

p {
    font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button-container > button {
    background-color:#f87171;
    padding:8px 32px;
    font-size:1.5rem;
    border-radius:10px;
}

.button-container > button, input[type="search"] {
    border:1px solid grey;
}

button, .sidebar {
    color:whitesmoke;
}