* {
    margin:0;
    padding:0;
}

.sidebar > ul > li > img, .header-top > img {
    height:auto;
}

.sidebar > ul > li > img {
    width:25px;
}

.header-top > img {
    width:45px;
}

.body-right {
    grid-template:1fr 5fr / 1fr;
}

ul, li {
    display:flex;
    gap:5px;
}

body {
    grid-template-columns:1fr 2fr;
    background-color:gainsboro;
}

ul {
    flex-direction:column;
}

.sidebar {
    grid-template:50px repeat(2, 1fr) / 1fr;
    gap:40px;
    padding:3vh 3vw;
}

body, .sidebar, .body-right, .header-top, .header {
    display:grid;
}

li {
    list-style-type:none;
    align-items:center;
}

.header-top {
    grid-template-columns: 50px 7fr repeat(2, 50px) 3fr;
    align-items:center;
    gap:15px;
}

.header {
    grid-template:repeat(2, 1fr) / 1fr;
}

input[type="search"] {
    appearance:none;
    border:1px solid grey;
    border-radius:6px;
}